.dashboardPage{
    /* ab */
    height: 90vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    box-sizing: border-box;
}
.dashLeft{
    /* border: 1px solid red; */
    width: 30%;
    height: 95%;
    border-radius: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 4px grey;

    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
}
.dashright{
    border-radius:10px ;
    /* border: 1px solid red; */
    width: 60%;
    height:95%;

}
.dashrightUpper{
    width: 100%;
    height: 50%;
    /* overflow: hidden; */
}
.dashrightLower{
    margin-top: 3.5vh;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.uplaodProfilePic{
    height: 100%;
    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
    width: 44%;
    border-radius: 20px;
    box-shadow: 10px 10px 4px gray;
    text-align: center;
    /* border: 1px solid black; */
}
.updateuserName{
    border-radius: 20px;
    box-shadow: 10px 10px 4px gray;
    height: 100%;
    width: 44%;
    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
    /* border: 1px solid black; */
    
}
.greetUserContainer{    /* ab */
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px grey;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
    color:#333333;

}
.greet{    /* ab */
    box-sizing: border-box;
    padding-left: 7vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}
.greet h1{    /* ab */
    font-size: 4vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-shadow: 4px 3px 1px white;

}

.greetimgcont{    /* ab */
    width: 50%;
    overflow: hidden;
}
.greetImg{    /* ab */
    /* border: 2px solid red; */
    margin-left: 5vh;
    height: 120%;
    width: 70%;
    margin-top: -7vh;
    margin-bottom: 1vh;
}

.DashLower{
    border-radius: 20px;
    box-shadow: 10px 10px 4px grey;
    background-color: white;
    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
    /* border: 2px solid black; */
    width: 50%;
    height: 50%;
    display: flex;

}


.dashLeft img{
    height: 45%;
    border: 5px solid green;
    width: 80%;
    border-radius: 100%;
    box-shadow: 10px 10px 4px gray;
    margin-top: 2vh;
}
.dashinfo{
    margin-top: 6vh;
    height: 48%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 7vh;
}
.dashinfo p{
    font-size: x-large;
    font-weight: 700;
    color: rgb(105, 13, 191);
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 1px white;
}
.uplaodProfilePic img{
    height: 35%;
    width: 35%;
    margin-top: 2vh;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 5px;

}
.uplaodProfilePic input{
    height: 3vh;
    border: 2px solid black;
}
.uplaodProfilePic h3{
    color: rgb(105, 13, 191);
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 1px white;
    font-size: 2.5vh;
    margin-top: 1vh;
}
.DashChangeBtn{
    height: 4.5vh;
    color: white;
    background-color: green;
    border-radius: 10px;
    font-size: 2vh;
    margin-right:4vh ;
}
.DashRemoveBtn{
    height: 4.5vh;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 2vh;
}
.DashRemoveBtn:hover{
    background-color: rgb(210, 1, 1);
    cursor: pointer;
}
.DashChangeBtn:hover{
    background-color: rgb(1, 174, 1);
    cursor: pointer;
}
.profileLoading{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1025px) {
    .dashboardPage {

        padding-left: 0;
        padding-right: 0;
        
    }
    .DashChangeBtn{
        margin-left: 1vh;
        margin-right: 2vh;
    }
}
@media screen and (max-width: 769px) {
    .dashLeft img {
        height: 39%;
        
    }
    .dashinfo p {
        font-size:large;
    }
    .greetImg {
        width: 85%;
    }
}
@media screen and (max-width: 664px) {
    .dashLeft {
        width: 34%;
    }
    .uplaodProfilePic {
        width: 50%;
    }
}
@media screen and (max-width: 481px) {
    .dashboardPage {
        height: 180vh;

        flex-direction: column;
        display: flex;
        
    }
    .dashLeft {
        width: 56%;
        margin: auto;
    }
    .dashright {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width: 481px) {
    .dashLeft {
        width: 66%;
    }
}
@media screen and (max-width: 321px) {
    .greet {
        padding-left: 3vh;
    }
    .greetImg {
        width: 90%;
        margin-left: 2vh;
        margin-top: -4vh;
    }
    
    .dashrightUpper {
        height: 40%;
    }
    .uplaodProfilePic h3 {
        margin-bottom: 0;
    }
}