.notificationPage {
  height: 90vh;
  background-image: url("../../images/notificationbg.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationScreen {
  height: 90%;
  width: 60%;
  border-radius: 50px;
  background-color: white;
  overflow: scroll;
}
.notificationScreen::-webkit-scrollbar {
  display: none;
}

.notifhead {
  position: sticky;
  top: 0;
  background-color: rgb(205, 231, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9vh;
  padding-right: 9vh;
  height: 10vh;
}
.notifhead h3 {
  font-size: larger;
  font-family: "Ubuntu", sans-serif;
  color: #4d31d7;
}
.redtext {
  color: red;
}
.notifContainer {
  width: 100%;
}
.singleNotification {
  width: 90%;
  margin: auto;
  margin-top: 2vh;
  height: 9vh;
  background-color: rgb(205, 231, 254);
  display: flex;
  align-items: center;
  gap: 4vh;
  padding-left: 5vh;
  padding-right: 5vh;
  box-sizing: border-box;
  justify-content: space-around;
}
.singleNotification img {
  border-radius: 100%;
  height: 95%;
}
.markallread {
  color: red;
  border-bottom: 2px solid red;
  /* padding-bottom: 1vh; */
  padding: 1vh;
}
.markallread:hover{
    color: #4d31d7;
    cursor: pointer;
    transition: 0.3s ease;
    border-bottom: 2px solid #4d31d7;
}
.newNotifbg{
  background-color: rgb(128, 189, 243);
}