.Intro{
    background-image: url("../../images/Introbg.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}
.introScreen{
    display: flex;
    height: fit-content;
    
    width: 60%;
}
.introPage{
    border: 1px solid green;
    height: 100%;
    background-color: white;
    width: 85%;
    overflow: hidden;padding-bottom: 3vh;
}
.introCont{
    width: 100%;
    display: flex;
}
.diseasePredicProgress{
    width: 15%;
}
.intro1,.intro2,.intro3,.intro4,.intro5{
    font-weight:100 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-right: 4px solid rgb(211, 161, 161);
}

.leftintro{
    padding-left: 4vh;
    width: 55%;
    height: 80%;
    box-sizing: border-box;
    padding-top: 10vh;
}
.rightintro{
    box-sizing: border-box;
margin: auto;
    width: 45%;
    height: 80%;
    
}
.rightintro img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70%;
    width: 95%;
    border-radius: 100%;
}

.introdesc{

    margin: auto;
    width: 80%;
}
.aboutTool{
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 6vh;
    width: 80%;

}
.aboutTool h2{
    color: blue;
}
.nostyle{
    list-style: none;
}
.introdesc p{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2.4vh;
    font-size: 16px;
    margin-bottom: 5vh;
}
.introdesc h1{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 3vh;
    color: blue;
    
}
.introbullet{
    margin-top: 1vh;
    font-family:Arial, Helvetica, sans-serif;
    
}
.introicons{
    margin-right: 2vh;
}
.introbtncnt{
    margin-top: 4vh;
    display: flex;
    box-sizing: border-box;
    padding-right: 10vh;
    justify-content: flex-end;
}
.introbtn{
    height: 6vh;
    width: 20vh;
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
    font-size: x-large;
}
.introbtn:hover{
    background-color: rgb(1, 225, 1);
    cursor: pointer;
}
@media screen and (max-width: 1025px) {
    .introScreen {
        
        width: 88%;
    }
}
@media screen and (max-width: 1000px) {
    .introScreen {
        width: 100%;
    }
    .introPage {
        width: 78%;
    }
}
@media screen and (max-width: 769px) {
    .introCont {
        
        display: block;
    }
    .leftintro{
        width: 100%;
    }
    .introScreen{
        display: block;
    }
    .introPage{
        width: 100%;
        /* flex-direction: column-reverse; */
    }
    .diseasePredicProgress {
        margin-top: 4vh;
        margin-bottom: 4vh;
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .intro1,.intro3,.intro5{
        font-size: 3vh;
        padding: 1vh;
    }
}
@media screen and (max-width: 481px) {
    .leftintro {
        padding-left: 0vh;
        
        padding-top: 3vh;
    }
}
@media screen and (max-width: 322px) {
    .intro1,.intro3,.intro5{
        font-size: 2vh;
        
    }
}
