.activ{
    color: #4D31D7;
    border-bottom: 2px solid #39259b;
    
    
}
body{
    margin: 0;
    padding: 0;
}
.logoCont{
    width: 30%;
    height: 100%;
}
.logo{
    height: 100%;
    width: 50%;
}
.navbar{
    background-color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    height: 11%;
    opacity: 0.9;
    
}
.scroll{
    box-shadow: 0 4px 4px grey;
    border: 1px solid grey;

}
.navBtn{
    background-color:#4D31D7;
    color: white;
    height: 5vh;
    width: 18vh;
    padding: 4px;
    border-radius: 10px;
    font-weight:600 ;
    border: none;

}
.navBtn:hover{
    background-color: #39259b;
    box-shadow: 4px 4px 10px #b8aee3;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.navItems{
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.navItems li{
    
    width: 20%;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.opaczero{
    opacity: 1;
}
.hamburger{
    position: absolute;
    top: 15%;
    right: 1%;
    height: 6vh;
    width: 6vh;
    border: 2px solid black;
    border-radius:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    visibility: hidden;
    cursor: pointer;
}
.li1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
}
.li1:hover{
    background-color: #4D31D7;
    color: white;
}
.line1{
    height: 1px;
    width: 4vh;
    border-bottom: 2px solid black;
}
.sideNav{
    position: fixed;
    width: 35%;
    z-index: 400;
    background-color: white;
    color: black;
    opacity: 0.9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 6%;
    align-items: center;
    margin-top: 2%;
}
.navicons{
    font-size: xx-large;
    padding-bottom: 1vh;
}
.notificationmark{
    position: absolute;
    height: 2vh;
    width: 2vh;
    border-radius: 100%;
    background-color: red;
    margin-bottom: 3vh;
    margin-left: 3vh;
}
.notifmarkvisiblity{
    visibility: hidden;
}